/*format background*/
body {
    background-color: #EBE8ED;
    background-attachment: scroll;
}

/*make text same font/size*/
* not(.header):not(.footer){
    font-family: "bodoni", "georgia", serif;
    font-size: 15px;
}

/*push content up and down so header/footer does not cover it*/
.content {
    padding-top: 160px;
    padding-bottom: 60px;
}
/*push content down/up further when screen size is reduced so header/footer does not cover it*/
@media screen and (max-width: 998px) {
    .content {
        padding-top: 220px;
    }
}

@media screen and (max-width: 592px) {
    .content {
        padding-top: 260px;
        padding-bottom: 70px;
    }
}

@media screen and (max-width: 461px) {
    .content {
        padding-top: 320px;
        padding-bottom: 80px;
    }
}

/*FORMAT HEADER*/
.header {
    background-color: #221A2A;
    color: #FFFFFF;
    font-size: 30px;
    font-family: "Copperplate", "perpetua", fantasy;
    padding: 10px;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    vertical-align: middle;
}
.header img{
    float: left;
    width: 130px;
    height: auto;
    padding: 12px;
}
.header h1{
    position: relative;
    left: 10px;
}

/*FORMAT FOOTER*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 3px;
    background-color: #221A2A;
    color: #FFFFFF;
    font-size: 10px;
    font-family: "Copperplate", "perpetua", fantasy;
    z-index: 1;
    vertical-align: middle;
}

#footLeft {
    width: 33.3%;
    float: left;
    text-align: left;
}

#footCentre {
    width: 33.3%;
    float: left;
    text-align: center;
}

#footRight {
    width: 32.8%;
    float: left;
    text-align: right;
}

/*FORMAT RADIO BUTTONS*/
/* The container for radio buttons*/
.radioContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}

/* Hide the browser's default radio button */
.radioContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.radioCheckmark {
  position: absolute;
  padding-top: 10px;
  left: 65px;
  height: 20px;
  width: 20px;
  background-color: #ccc;
  border-radius: 50%;
}

/* On hover make button darker */
.radioContainer:hover input ~ .radioCheckmark {
  background-color: #aaa;
}

/* Add background when the radio button is checked */
.radioContainer input:checked ~ .radioCheckmark {
  background-color: #221A2A;
}

/* Make the indicator hidden when not checked */
.radioCheckmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator when checked */
.radioContainer input:checked ~ .radioCheckmark:after {
  display: block;
}

/* Style the indicator */
.radioContainer .radioCheckmark:after {
 	top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

/*FORMAT SUBMIT BUTTONS*/
input[type=submit] {
    background-color: #655473;
    font-size: 16px;
    text-align: center;
    width: 100px;
    height: 50px;
    border-radius: 30%;
    border: 2px solid #221A2A;
    color: #FFFFFF;
    position: relative;
    left: 50%;
    margin-left: -52px
}


input[type=submit]:hover {
  box-shadow: 0 15px 20px 0 rgba(0,0,0,0.24), 0 20px 50px 0 rgba(0,0,0,0.24);
  cursor: pointer;
}

/*FORMAT EMPLOYEE HOME BUTTON*/
#employeeHomeButton {
    background-color: #655473;
    font-size: 12px;
    text-align: center;
    width: 120px;
    height: 40px;
    border-radius: 30%;
    border: 2px solid #221A2A;
    color: #FFFFFF;
    position: relative;
    bottom: 50px;
    left: 88%;
}

/*FORMAT FIND BUTTONS*/
#findButton {
    background-color: #655473;
    border: 2px solid #221A2A;
    border-radius: 30%;
    color: #FFFFFF;
    height: 40px;
    width: 80px;
    text-align: center;
    font-size: 12px;
    position: relative;
    left: 50%;
    margin-left: -42px;
}

#findButton:hover {
    box-shadow: 0 15px 20px 0 rgba(0,0,0,0.24), 0 20px 50px 0 rgba(0,0,0,0.24);
    cursor: pointer;
}

/*FORMAT CHECKBOXES*/
/* Style the label */
.checkboxContainer {
  display: block;
  position: relative;
  padding-left: 15px;
  cursor: pointer;
  font-size: 16px;
}

/* Hide the browser's default checkbox */
.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.boxCheckmark {
  position: absolute;
  top: 15px;
  left: 150px;
  height: 18px;
  width: 18px;
  background-color: #ccc;
  border: 1px solid #000000;
}

/* On mouse-over, make background darker */
.checkboxContainer:hover input ~ .boxCheckmark {
  background-color: #aaa;
}

/* When the checkbox is checked add background */
.checkboxContainer input:checked ~ .boxCheckmark {
  background-color: #221A2A;
}



/* Create checkmark */
.boxCheckmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxContainer input:checked ~ .boxCheckmark:after {
  display: block;
}



/* Style the checkmark */
.checkboxContainer .boxCheckmark:after {
  left: 5px;
  top: 2px;
  width: 3px;
  height: 7px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}



* {
  box-sizing: border-box;
}

/*FORMAT FORM ENTRY FIELDS AND LABELS*/
/*format entry fields so they are next to label*/
label {
    padding: 15px 15px 15px 0;
    display: inline-block;
}

input[type="text"], input[type="password"], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

/*create border when field is clicked on*/
input:focus {
    border: 3px solid #221A2A;
}

/*format labels*/
.col15 {
    float: left;
    width: 15%;
    margin-top: 6px;
    padding-left: 15px;
}

/*format entry fields*/
.col85 {
    float: left;
    width: 85%;
    margin-top: 6px;
}

/*format larger label*/
.col50 {
    float: left;
    width: 30%;
    margin-top: 6px;
    padding-left: 15px;
}


/*clear floats after the columns*/
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*make entry fields go underneth label when screen is smaller*/
@media screen and (max-width: 900px) {
    .col15, .col85 {
        width: 100%;
        margin-top: 0;
    }
}

#description {
    height: 100px;
}

#bookInfo {
    padding: 10px;
    text-align: justify;
}


/*FORMAT NAVIGATION BUTTONS ON HOMEPAGE*/
#requestButton, #loginButton {
    background-color: #655473;
    border: 2px solid #221A2A;
    border-radius: 30%;
    color: #FFFFFF;
    height: 80px;
    width: 150px;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    font-family: "bodoni", "georgia", serif
}


#requestButton {
    position: relative;
}

#loginButton {
    position: relative;
}

#requestButton:hover, #loginButton:hover {
    box-shadow: 0 15px 20px 0 rgba(0,0,0,0.24), 0 20px 50px 0 rgba(0,0,0,0.24);
    cursor: pointer;
}

/*clear hyperlink formatting*/
#requestA:link, #loginA:link{
    text-decoration: none;
    color: #FFFFFF
}

#requestA:visited, #loginA:visited{
    text-decoration: none;
    color: #FFFFFF
}

#requestA:hover, #loginA:hover{
    text-decoration: none;
    color: #FFFFFF
}

#requestA:active, #loginA:active{
    text-decoration: none;
    color: #FFFFFF
}

/*FORMAT CLIENT HOME PAGE*/
/*style photo overlay*/
.overlay {
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: 0px;
  top: 0px;
  background: rgba(101, 84, 115, 0.5);
  color: #FFFFFF;
  width: 100%;
  transition: .5s ease;
  opacity:0;
}

/*style artist name*/
.overlay h3 {
  color: #FFFFFF;
  font-size: 40px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/*make overlay appear on hover*/
.container:hover .overlay {
  opacity: 1;
}

/*change number of photos in row depending on width of screen*/
.container {
  position: relative;
  width: 25%;
  float: left;
  padding: 10px;
}

@media screen and (max-width: 1200px) {
    .container {
        width: 50%;
        float: left;
        padding: 10px;
    }
}

@media screen and (max-width: 690px) {
    .container {
        width: 100%;
    }
}

/*FORMAT NAVIGATION BUTTONS ON EMPLOYEE HOMEPAGE*/
.buttonLeft, .buttonRight {
    background-color: #655473;
    border: 2px solid #221A2A;
    border-radius: 30%;
    color: #FFFFFF;
    height: 60px;
    width: 120px;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    font-family: "bodoni", "georgia", serif
}

.buttonLeft:hover, .buttonRight:hover {
    box-shadow: 0 15px 20px 0 rgba(0,0,0,0.24), 0 20px 50px 0 rgba(0,0,0,0.24);
    cursor: pointer;
}

.buttonLeft {
    float: left;
    margin-left: 25%;
}

.buttonRight {
    float: right;
    margin-right: 25%;
}


/*STYLE PASSWORD VALIDATION MESSAGE FOR ADDING EMPLOYEE LOGIN*/
/*style message box*/
#pswMsg {
    display: none;
    background-color: #655473;
    border: 3px solid #221A2A;
    position: relative;
    padding: 15px;
    margin: 10px;
    font-size: 16px;
    color: #FFFFFF;
}

#pswMsg p{
    padding-left: 35px;
}

/* Add a white text color and a tick when the requirements are met */
.valid {
  color: #FFFFFF;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}


/* Add a black text color and an "x" when the requirements are not met */
.invalid {
  color: #000000;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}

/*style password check message*/
#pswCheck {
    font-size: 18px;
    color: #FF0000;
    margin-left: 20px;
}

/*STYLE PRINT BUTTON*/
#printButton {
    position: absolute;
    float: right;
    right: 5%;
    margin-top: 15px;
    background-color: #655473;
    font-size: 14px;
    text-align: center;
    width: 80px;
    height: 30px;
    border-radius: 30%;
    border: 2px solid #221A2A;
    color: #FFFFFF;
    cursor: pointer;
}

/*STYLE ARTISTS CALENDAR*/
ul {
    list-style-type: none;
}


/* style month title */
.month {
  padding: 70px 25px;
  width: 100%;
  background: #655473;
  text-align: center;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/*style weekdays*/
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #C3C1C4;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #000000;
  text-align: center;
}

/*style days*/
.days {
  padding: 10px 0;
  background: #EBE8ED;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #000000;
}

/*style day buttons*/
.days button {
    width: 30px;
    height : 30px;
    text-align: center;
    border: none;
    background-color: #EBE8ED;
}

/*change formatting when button is selected*/
.days button:focus {
    background-color: #655473;
    color: #FFFFFF;
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
}

/*style modal box*/
.modal {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #C3C1C4;
    color: #221A2A;
    padding: 10px;
    width: 400px;
    border: 2px solid #221A2A;
    z-index: 100;
    display: none;
}

#dayBookings h4{
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#dayBookings :not(h4) {
    text-indent: 10px;
    letter-spacing: 2px;
}

/*style X*/
.closeButton {
  float: right;
  width: 15px;
  line-height: 15px;
  text-align: center;
  cursor: pointer;
  color: #221A2A;
}

/*STYLE OUTSTANDING ESTIMATES PAGE*/
/*style client estimate information*/
#estimateInfo {
    float: right;
    margin-right: 15%;
    width: 280px;
    padding: 10px;
    position: absolute;
    margin-left: 50px;
    background-color: #655473;
    border: 2px solid #221A2A;
    color: #FFFFFF;
    top: 270px;
    left: 300px;
    letter-spacing: 2px;
}

@media screen and (max-width: 630px) {
    #estimateInfo {
        left: 180px;
    }
}

/*only display estimate info what button is clicked*/
#estimate{
    display: none;
}

/*format confirm estimate sent button*/
#estimateButton {
    font-size: 14px;
    width: 225px;
    height: 50px;
    left: 840px;
    position: absolute;
    top: 285px;
}

/*style estimate confirmed message*/
#confirmSent {
    font-size: 18;
    position: absolute;
    left: 820px;
    top: 340px;
}

/*media queries for different screen widths*/
@media screen and (max-width: 1008px) {
    #estimateButton {
        left: 700px;
    }
}

@media screen and (max-width: 872px) {
    #estimateButton {
        position: relative;
        left: 420px;
        top: 0;
    }
}

/*format print button*/
#printButton {
    position: absolute;
    float: right;
    right: 5%;
    margin-top: 15px;
    background-color: #655473;
    font-size: 14px;
    text-align: center;
    width: 80px;
    height: 30px;
    border-radius: 30%;
    border: 2px solid #221A2A;
    color: #FFFFFF;
    cursor: pointer;
}

/* make page printable */
@media print {
/*hide irrelevant content*/
    .header, #estimateButton, #confirmSent, .footer, h2, h3, #printButton, #employeeHomeButton {
        display: none;
    }
/*restyle list of IDs to suit print page*/
    #outstandingIDs {
        float: none;
        left: 1px;
        width: 100%;
        position: fixed;
        font-size: 20px;
        top: 5px;
    }
/*remove borders of buttons so IDs appear as list*/
    input[type=submit]:not(#estimateButton) {
        border: none;
        float: none;
        width: 30%;
        color: #000000;
    }
/*reposition estimate info of selected booking*/
    #estimateInfo {
        float: none;
        position: fixed;
        right: 5px;
        top: 5px;
        color: #000000;
    }
}

/*CLIENT AND BOOKING DIRECTORY PAGE STYLING*/
/*style client and booking estimate information boxes*/
#clientInfo, #bookingInfo {
    width: 420px;
    padding: 10px;
    position: relative;
    margin-left: 50px;
    background-color: #655473;
    border: 2px solid #221A2A;
    color: #FFFFFF;
    letter-spacing: 2px;
    left: 50%;
    margin-left: -210px;
    display: none;
}

