<html>
<head>
<link rel="stylesheet" href="static/tattoo.css">
<style>
/*format image and overlay*/
img {
  display: block;
  height: auto;
  width: 100%;
}
</style>
</head>

<body>
<!header>
<div class = "header">
    <a href = "/">
        <img src="https://i.ibb.co/FwGkTmY/queen-bitch-logo.png" alt="logo" />
    </a>
    <h1>Queen Bitch Tattoo Studio</h1>
</div>
<!photos of artist's work>
<div class="content">
<!photo: lana fern>
    <div class="container">
        <a href="https://www.instagram.com/lanaferntattoo/?hl=en">
            <img src="https://i.ibb.co/rk44TvL/lana-fern.jpg" alt="Lana Fern">
        <div class="overlay"><h3>Lana Fern</h3></div>
        </a>
    </div>

<!photo: peggy brown>
    <div class="container">
        <a href="https://www.instagram.com/misspeggybrown/?hl=en">
            <img src="https://i.ibb.co/Phy7ZpK/peggy-brown.jpg" alt="Peggy Brown">
        <div class="overlay"><h3>Peggy Brown</h3></div>
        </a>
    </div>

<!photo: jodie ahnien>
    <div class="container">
        <a href="https://www.instagram.com/JodieAhnienTattoo/">
            <img src="https://i.ibb.co/rZpZrky/jodie-ahnien.jpg"  alt="Jodie Ahnien">
        <div class="overlay"><h3>Jodie Ahnien</h3></div>
        </a>
    </div>

<!photo: el rose>
    <div class="container">
        <a href="https://www.instagram.com/elrosetattoo/?hl=en">
            <img src="https://i.ibb.co/TTzfxCC/el-rose.jpg" alt="El Rose">
        <div class="overlay"><h3>El Rose</h3></div>
        </a>
    </div>

    <br> <br> <br> <br> <br> <br> <br> <br><br><br>

<!link to request booking>
    <a href = "/booking-request" id="requestA"><button id="requestButton">Request a booking</button></a>
<!link to employee login>
    <a href = "/employee-login" id="loginA"><button id="loginButton">Employee Login</button></a>
</div>
<!footer>
<div class = "footer">
    <div class = "footer">
    <div id ="footLeft"><p>Tel: 07525761214</p></div>
    <div id ="footCentre"><p>Email: info@queenbitchtattoo.com</p></div>
    <div id ="footRight"><p>Address: 15 Elms Road, London, SW49ER</p></div>
</div>
</div>
</body>

</html>
