<html>
<head>
<h1>WELCOME TO TATTOO BOOKING SERVICE</h1>

<link rel="stylesheet" href="static/tattoo.css">

</head>

<body>
    <a href="https://www.instagram.com/lanaferntattoo/?hl=en">
        <img src="lana fern.JPG" alt="Lana Fern">
    </a>

    <a href="https://www.instagram.com/misspeggybrown/?hl=en">
        <img src="peggy brown.JPG" alt="Peggy Brown">
    </a>

    <a href="https://www.instagram.com/JodieAhnienTattoo/">
        <img src="jodie ahnien.JPG"  alt="Jodie Ahnien">
    </a>

    <a href="https://www.instagram.com/elrosetattoo/?hl=en">
        <img src="el rose.JPG" alt="El Rose">
    </a>

    <li> <a href = "/bookingRequest"> Request a booking </a> </li>
    
    <li> <a href = "/employeeLogin">Employee Login </a> </li>
    





</body>

</html>
