<html>
<head>
<link rel="stylesheet" href="static/tattoo.css">
<style>
#idCheck {
    display: none;
}
</style>
</head>
<body>
<div class = "header">
    <a href = "/">
        <img src="https://i.ibb.co/FwGkTmY/queen-bitch-logo.png" alt="logo" />
    </a>
    <h1>Queen Bitch Tattoo Studio</h1>
</div>
<div class="content">
<h2>Employee site</h2>
<h3>Edit booking details</h3>
<form action ="{{url_for('editBooking') }}" method = "POST">
    <div class="row">
        <div class = "col15">
            <label for "firstName">Client first name: </label>
        </div>
        <div class='col85'>
            <input type="text" id="firstName" name="firstName" placeholder="Client first name..." required>
        </div>
    </div>
    <div class="row">
        <div class = "col15">
            <label for "surname">Client surname: </label>
        </div>
        <div class='col85'>
            <input type="text" id= "surname" name="surname" placeholder="Client surname here..." required>
        </div>
    </div>
    <br>


<!call AJAX function to find client details>
    <button type="button" id="findButton" onclick="findClient(); displayCheck();">Find client</button>

<!display results of AJAX function>
<p id="clientConfirm"></p>

<!confirm correct booking is being edited by input booking ID>
    <div id = "idCheck">
        <div class="row">
            <div class = "col15">
                <label for "bookingID">ID of booking to be editted: </label>
            </div>
            <div class='col85'>
                <input type="text" id= "bookingID" name="bookingID" placeholder="Booking ID here..."
                onchange="this.setCustomValidity(validity.valueMissing ? 'Must confirm booking ID before you can proceed' : '');" required>
            </div>
        </div>
    </div>


<!drop down to select field to be editted>
    <div class="row">
        <div class = "col15">
            <label for "field">Field to be edited:</label>
        </div>
        <div class = "col85">
            <select name="field" id="field" required>
                <option value=email>Email</option>
                <option value=phone>Phone</option>
                <option value=description>Description</option>
                <option value=placement>Placement</option>
                <option value=sizeWidth>Approximate width</option>
                <option value=sizeLength>Approximate length</option>
            </select>
        </div>
    </div>


<!enter new entry>
    <div class="row">
        <div class = "col15">
            <label for "new">New entry: </label>
        </div>
        <div class='col85'>
            <input type="text" name="new" id="new" placeholder="New entry here..." onblur="validateEntry()"
            onchange="this.setCustomValidity(validity.valueMissing ? 'Please enter new entry before you can proceed' : '');"required>
        </div>
    </div>


    <p> <input type="submit" value="Submit"> </p>
</form>
</div>
<!footer>
<div class = "footer">
  <div id ="footLeft"><p>Tel: 07525761214</p></div>
  <div id ="footCentre"><p>Email: info@queenbitchtattoo.com</p></div>
  <div id ="footRight"><p>Address: 15 Elms Road, London, SW49ER</p></div>
</div>

<script>
function findClient() {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            document.getElementById("clientConfirm").innerHTML = this.responseText;
        }
    };
    var firstName = document.getElementById("firstName").value
    var surname = document.getElementById("surname").value
    xhttp.open("GET", "/findClient?f="+firstName+"&s="+surname, true);
    xhttp.send();
}

function displayCheck() {
  var x = document.getElementById("idCheck");
  if (x.style.display === "none") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}

function validateEntry() {
    var field = document.getElementById("field")
    var entry = document.getElementById("new")
//if field editted is email
    if (field.value == "email") {
        var valid = /^[^\s@]+@[^\s@]+\.[^\s@]+$/
        if (entry.value.match(valid)) {
            var valid = "y";
        }
        else {
            alert("Please enter a email in valid format.");
        }
    }
//if field editted is phone
    else if (field.value == "phone") {
        var valid = /^(\+44\s?7\d{3}|\(?07\d{3}\)?)\s?\d{3}\s?\d{3}$/
        if (entry.value.match(valid)) {
            var valid = "y";
        }
        else {
            alert("Please enter a valid phone number. Phone number must start with 07 or +447 followed by 9 digits.");
        }
    }
//if field editted is description
    else if (field.value == "description") {
        if (entry.value.length > 800) {
            alert('Description must be less than 800 characters.')
        }
    }
//if field editted is length or width of tattoo
    else if (field.value == "sizeWidth" || field.value == "sizeLength" ) {
        var valid = /^[0-9]+$/
        if (entry.value.match(valid)) {
            if (entry.value > 100 || entry.value < 0.5) {
                alert ("Please enter valid measurement. Must be greater than 0 and less than 100");
            }
        }
        else {
            alert ("Please enter valid measurement. Must be a number");
        }
    }
    else if (field.value == "placement") {
        var valid = /^[A-Za-z ]+$/
        if (entry.value.match(valid)) {
            var valid = "y";
        }
        else {
            alert("Please enter placement in valid format. Placement may contain letters only.");
        }
    }
}
//set custom validity messages
document.getElementById("new").setCustomValidity('Please enter new entry before you can proceed');

document.getElementById("bookingID").setCustomValidity('Must confirm booking ID before you can proceed');

</script>
</body>
</html>
