<html>
<head>
<link rel="stylesheet" href="static/tattoo.css">
</head>
<body>
<div class = "header">
    <a href = "/">
        <img src="https://i.ibb.co/FwGkTmY/queen-bitch-logo.png" alt="logo" />
    </a>
    <h1>Queen Bitch Tattoo Studio</h1>
</div>

<div class = "content">
    <h2> employee login </h2>
    <form action ="{{url_for('employeeLogin') }}" method = "POST">
    <p>username:          <input type="text" name="username"></p>
    <p>password:          <input type="password" name="password" id="password"></p>
    <input type="checkbox" onclick="showPassword()">Show Password
    <input type = "submit">
</div>

<script>
function showPassword() {
  var x = document.getElementById("password");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>

</form>
<!footer>
<div class = "footer">
  <div id ="footLeft"><p>Tel: 07525761214</p></div>
  <div id ="footCentre"><p>Email: info@queenbitchtattoo.com</p></div>
  <div id ="footRight"><p>Address: 15 Elms Road, London, SW49ER</p></div>
</div>
</body>
</html>
