<html>
<head>
<link rel="stylesheet" href="static/tattoo.css">
</head>
<body>
<div class = "header">
    <a href = "/">
        <img src="https://i.ibb.co/FwGkTmY/queen-bitch-logo.png" alt="logo" />
    </a>
    <h1>Queen Bitch Tattoo Studio</h1>
</div>
<div class = "content">
    <li> <a href = "/outstanding-estimates"> Outstanding Estimates </a> </li>
    <li> <a href = "/add-booking"> Add a confirmed booking </a> </li>
    <li> <a href = "/edit-booking"> Edit booking details </a> </li>
    <li> <a href = "/delete-booking"> Delete existing booking </a> </li>
    <li> <a href = "/new-employee"> Add new employee login </a> </li>
    <li> <a href = "/view-calendars"> View artists calendars </a> </li>
</div>
</body>
<!footer>
<div class = "footer">
  <div id ="footLeft"><p>Tel: 07525761214</p></div>
  <div id ="footCentre"><p>Email: info@queenbitchtattoo.com</p></div>
  <div id ="footRight"><p>Address: 15 Elms Road, London, SW49ER</p></div>
</div>
</html>
