<html>
<head>
<link rel="stylesheet" href="static/tattoo.css">
</head>
<body>
<div class = "header">
    <a href = "/">
        <img src="https://i.ibb.co/FwGkTmY/queen-bitch-logo.png" alt="logo" />
    </a>
    <h1>Queen Bitch Tattoo Studio</h1>
</div>
<div class = "content">
    <br> <br>
    <a href = "/outstanding-estimates"><button class="buttonLeft">Outstanding Estimates </button> </a>
    <a href = "/add-booking"><button class="buttonRight">Add a confirmed booking </button></a>
    <br> <br> <br> <br> <br> <br>
    <a href = "/edit-booking"><button class="buttonLeft">Edit booking details </button> </a>
    <a href = "/delete-booking"><button class="buttonRight">Delete existing booking </button></a>
    <br> <br> <br> <br> <br> <br>
    <a href = "/new-employee"><button class="buttonLeft">Add new employee login </button></a>
    <a href = "/view-calendars"><button class="buttonRight">View artists calendars </button></a>
    <br> <br> <br> <br> <br> <br>
    <a href = "/change-date"><button class="buttonLeft">Change date of confirmed booking</button></a>
</div>
<!footer>
<div class = "footer">
  <div id ="footLeft"><p>Tel: 07525761214</p></div>
  <div id ="footCentre"><p>Email: info@queenbitchtattoo.com</p></div>
  <div id ="footRight"><p>Address: 15 Elms Road, London, SW49ER</p></div>
</div>
</body>
</html>
