<html>
<body>
<h2> employee login </h2>
<form action ="{{url_for('employeeLogin') }}" method = "POST">
<p>username:          <input type="text" name="username"></p>
<p>password:          <input type="password" name="password" id="password"></p>
<input type="checkbox" onclick="showPassword()">Show Password
<input type = "submit">

<script>
function showPassword() {
  var x = document.getElementById("password");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>
  
</form>

</body>
</html>
