<html>
<head>
<link rel="stylesheet" href="static/tattoo.css">
</head>
<body>
<div class = "header">
    <a href = "/">
        <img src="https://i.ibb.co/FwGkTmY/queen-bitch-logo.png" alt="logo" />
    </a>
    <h1>Queen Bitch Tattoo Studio</h1>
</div>

<div class = "content">
    <h2> Employee login </h2>
    <form action ="{{url_for('employeeLogin') }}" method = "POST">
  <div class="row">
        <div class = "col15">
            <label for "username">Username: </label>
        </div>
        <div class='col85'>
            <input type="text" name="username" id="username"
            onchange="this.setCustomValidity(validity.valueMissing ? 'Please enter username before you can proceed' : '');" required>
        </div>
    </div>
    <div class="row">
        <div class = "col15">
            <label for "password">Password: </label>
        </div>
        <div class='col85'>
            <input type="password" name="password" id="password"
            onchange="this.setCustomValidity(validity.valueMissing ? 'Please enter password before you can proceed' : '');" required>
        </div>
    </div>

<!checkbox to show password>
    <label class="checkboxContainer">Show Password
        <input type="checkbox" id="showPsw" name="showPsw" onclick="showPassword()">
        <span class="boxCheckmark"></span>
    </label>
    <br>
    <br>
    <input type = "submit" value="Login">
</div>

<script>
function showPassword() {
  var x = document.getElementById("password");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}

//set custom validities
document.getElementById("username").setCustomValidity('Please enter username before you can proceed');
document.getElementById("password").setCustomValidity('Please enter password before you can proceed');
</script>

</form>
<!footer>
<div class = "footer">
  <div id ="footLeft"><p>Tel: 07525761214</p></div>
  <div id ="footCentre"><p>Email: info@queenbitchtattoo.com</p></div>
  <div id ="footRight"><p>Address: 15 Elms Road, London, SW49ER</p></div>
</div>
</body>
</html>
