<html>
    <link rel="stylesheet" href="static/tattoo.css">
<style>
/*style gif*/
img{
    height: 510px;
    width: auto;
    position: relative;
    left: 50%;
    margin-left: -290px
}
/*style booking confirmed message*/
#msg {
    font-size: 20px;
}
</style>
<body>
<!header>
<div class = "header">
    <a href = "/">
        <img src="https://i.ibb.co/FwGkTmY/queen-bitch-logo.png" alt="logo" />
    </a>
    <h1>Queen Bitch Tattoo Studio</h1>
</div>

<!display message and gif>
<div class = "content">
    <p id="msg">{{msg}} </p>
    <a href="https://gifyu.com/image/Zi3W"><img src="https://s4.gifyu.com/images/david-bowie-gif.gif" alt="david-bowie-gif.gif" border="0" /></a>
</div>

<!footer>
<div class = "footer">
  <div id ="footLeft"><p>Tel: 07525761214</p></div>
  <div id ="footCentre"><p>Email: info@queenbitchtattoo.com</p></div>
  <div id ="footRight"><p>Address: 15 Elms Road, London, SW49ER</p></div>
</div>
</body>
</html>
