<html>
<head>
<link rel="stylesheet" href="static/tattoo.css">
<style>
* {
    box-sizing: border-box;
}

/* make page printable */
@media print {
    .header, #printButton, .footer, h2, #employeeHomeButton {
        display: none;
    }
}
</style>
</head>
<body>
<div class = "header">
    <a href = "/">
        <img src="https://i.ibb.co/FwGkTmY/queen-bitch-logo.png" alt="logo" />
    </a>
    <h1>Queen Bitch Tattoo Studio</h1>
</div>
<div class="content">


<input id="printButton" type="button" value="Print page" onClick="window.print()">

<h2>Employee Site</h2>
<h3>Artist Calendars</h3>

<div class = "month">
    <p>{{artist}}</p>
    <p>{{month}} {{year}}</p>
</div>

<ul class="weekdays">
  <li>Mo</li>
  <li>Tu</li>
  <li>We</li>
  <li>Th</li>
  <li>Fr</li>
  <li>Sa</li>
  <li>Su</li>
</ul>

<ul class="days">
    {% for row in shift %}
    <li>{{row}}</li>
    {% endfor %}
    {% for row in days %}
    <li><button onclick="findBookings(this); displayModal();" value="{{row}}">{{row}}</button></li>
    {% endfor %}
</ul>

<div class = "modal">
    <span class="closeButton" onclick="hideModal()">X</span>
    <p id="dayBookings"></p>
</div>
</div>
<!home button>
<a href = "/employee-home"><button id="employeeHomeButton">Back to<br>employee home</button> </a>

<!footer>
<div class = "footer">
  <div id ="footLeft"><p>Tel: 07525761214</p></div>
  <div id ="footCentre"><p>Email: info@queenbitchtattoo.com</p></div>
  <div id ="footRight"><p>Address: 15 Elms Road, London, SW49ER</p></div>
</div>

<script>
function findBookings(thisValue) {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            document.getElementById("dayBookings").innerHTML = this.responseText;
        }
    };
    var day = thisValue.value
    xhttp.open("GET", "/findBookings?d="+day, true);
    xhttp.send();
}

function displayModal() {
    var modalElems = document.getElementsByClassName('modal');
    for (var i=0;i<modalElems.length;i+=1){
        modalElems[i].style.display = 'block';
    }
}

function hideModal() {
    var modalElems = document.getElementsByClassName('modal');
    for (var i=0;i<modalElems.length;i+=1){
        modalElems[i].style.display = 'none';
    }
}
</script>
</body>
</html>
